ISS_Client/ISS_Client/Connected Services/Soap_Service/SOAP_WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAP_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAP_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSoapGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoapGame" nillable="true" type="tns:SoapGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoapGame" nillable="true" type="tns:ArrayOfSoapGame" />
  <xs:complexType name="SoapGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="appID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="releseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reviewSummary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoapGame" nillable="true" type="tns:SoapGame" />
</xs:schema>